<ion-view view-title="引导页" id="tour-view" hide-nav-bar="true">
    <ion-slide-box on-slide-changed="onSlideChange()">
        <ion-slide class="bg-img1">
            <i class="icon slider-icon ion-mouse"></i>
        </ion-slide>
        <ion-slide class="bg-img2">
            <i class="icon slider-icon ion-ios-keypad"></i>
        </ion-slide>
        <ion-slide class="bg-img3">
            <i class="icon slider-icon ion-mic-a"></i>
            <a ui-sref="tabs.home" class="button button-calm goHome">进入主页</a>
        </ion-slide>
    </ion-slide-box>
</ion-view>