<ion-view view-title="Cart" id="cart-view">
    <ion-content>
        <ion-list>
            <ion-item class="row">
                <div class="col-20"><input type="checkbox">全选</div>
                <div class="col-20">商品名</div>
                <div class="col-20">价格</div>
                <div class="col-20">数量</div>
                <div class="col-20">总价</div>
            </ion-item>
            <ion-item class="row" ng-repeat="product in cart">
                <div class="col-20"><input type="checkbox"></div>
                <div class="col-20">{{product.item.name}}</div>
                <div class="col-20">{{product.item.price |currency:"￥"}}</div>
                <div class="col-20">
                    <span class="button-xs">-</span>
                    <input type="text" ng-model="product.quantity" class="quantityInput" >
                    <span class="button-xs">+</span>
                </div>
                <div class="col-20">{{product.item.price*product.quantity|currency:"￥"}}</div>
            </ion-item>
            <ion-item class="row">
                <div class="col-20 col-offset-66 text-right">商品总价：</div>
                <div>1</div>
            </ion-item>
            <ion-item class="row">
                <div class="col-20 col-offset-66 text-right">运费：</div>
                <div>2</div>
            </ion-item>
            <ion-item class="row">
                <div class="col-20 col-offset-66 text-right">应付金额：</div>
                <div>3</div>
            </ion-item>
        </ion-list>
        <div align="right"><button class="button button-royal" ui-sref="tabs.order">提交订单</button></div>
    </ion-content>
</ion-view>